.text-center {
    text-align: center;
}
.text-break {
    word-break: break-all;
}

.banner {
    width: 100%;
    background-color:#333;
    color:white;
}

.banner > .content {
    padding:2% 0 2% 10% 
}


.article-taglist-ul{
    list-style: none;
    padding-left: 0px;
}

.article-taglist-li {
    border: 1px solid;
    display: inline;
    border-radius: 7px;
    padding: 4px;
    cursor: pointer;
    margin-right: 1%;
}

.article-taglist-li.danger:hover {
    border-color: red;
    color: red;
}
.article-taglist-li.success:hover {
    border-color: green;
    color: green;
}

.article-body{
    margin-top:5%;
}

.article-details {
    margin-left: 30%;
}

.comments-article-section {
    margin-top:5%;
    text-align: center;
}
.comments-section {
    margin-left:10%;
    margin-right:10%;
}

.div-inline {
    display:inline;
}
.comment-border {
    border:1px solid #333!important;
    margin-top:1%;
    border-radius: 3px;
}

.display-right{
    float:right;
}
.color-grey {
    color:#333;
}

.mouse-pointer {
    cursor: pointer;
}
.pagination {
    margin-top:5%;
}